.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_card{
  border: 1px solid #148FF7;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  margin: auto;
}